{
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\mssqllocaldb;Database=FoodDeliveryDb_Dev;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=true"
  },
  "Jwt": {
    "Secret": "DevOnly_DoNotUseInProduction_SuperSecretKey_32chars_Min__",
    "Issuer": "FoodDelivery",
    "Audience": "FoodDeliveryClients",
    "AccessTokenMinutes": 60,
    "RefreshTokenDays": 14
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
